Django==5.2.5

# Web APIs for Django
djangorestframework==3.16.1

# Geographic add-ons for Django Rest Framework
djangorestframework-gis==1.2.0

# Python HTTP library
requests==2.32.5

# The uWSGI server
uwsgi==2.0.30

# Use webpack to generate your static bundles without django's staticfiles or opaque wrappers.
django-webpack-loader==3.2.1

# Python client for Sentry (https://sentry.io)
sentry-sdk==2.35.1

# Implementation of per object permissions for Django.
django-guardian==3.0.7

# django-cleanup app automatically deletes files for FileField, ImageField and subclasses
django-cleanup==9.0.0

# Celery result backends for Django.
django-celery-results==2.6.0

# psycopg2 - Python-PostgreSQL Database Adapter
psycopg2-binary==2.9.10

# This extension enables you to store the periodic task schedule in the database.
django-celery-beat==2.8.1

pymemcache>=4.0